<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TeacherFlow</title>
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    
    <link rel="stylesheet" href="../static/css/inicio.css">
    <link rel="shortcut icon" href="../static/img/Logo.png.branco.png" type="image/x-icon">
    

</head>

<body>
    <main class="main-content">
            <header class="main-header">
                    <div> <h1>TeacherFlow</h1></div>
            </header>
            
            <nav class="sidebar">
                <div class="sidebar-nav-logo">
                    <img src="../static/img/Logo.png.branco.png" class="sidebar-logo-img">
                </div>
                <nav class="sidebar-nav">
                    <div class="nav-group-top"> 
                        <a href="#" class="nav-item">
                            <i class="fas fa-home"></i> 
                            <span></span>
                        </a>
                        <a href="#" class="nav-item">
                            <i class="fas fa-book"></i> 
                            <span></span>
                        </a>
                        <a href="#" class="nav-item">
                            <i class="fas fa-user-check"></i> 
                            <span></span>
                        </a>
                    </div>

                    <div class="nav-group-bottom-2"> 
                        <hr class="sidebar-divider-2">
                        <a href="#" class="nav-item-2">
                            <i class="fas fa-question-circle"></i> 
                        </a>
                        <a href="#" class="nav-item-2">
                            <i class="fas fa-cog"></i> 
                        </a>
                        <a href="#" class="nav-item-2 logout">
                            <i class="fas fa-sign-out-alt"></i> 
                        </a>
                    </div>
                </nav>
            </nav>
            
            <div class="content-wrapper">
                <div class="welcome-container">
                    <p class="greeting">Olá, Professor Henrique!</p>
                </div>
            </div>
        
        <article>
            <h2>SAC</h2>
                
            <h2>Dúvidas</h2>

            <h2>Fale conosco</h2>
        </article>

    </main>

    <script src="../static/js/inicio.js"></script>
</body>
</html>