<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TeacherFlow</title>
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="shortcut icon" href="../static/img/Logo.png.png" type="image/x-icon">
    
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');
    </style>
</head>

<body>
    
    <header class="main-header">
            <div> <h1>TeacherFlow</h1></div>
    </header>

    
    <main class="main-content">
        <div class="main-layout"> 
            
            <aside class="sidebar">
                <div class="sidebar-nav-logo">
                    <img src="../static/img/Logo.png.branco.png" class="sidebar-logo-img">
                </div>
                <nav class="sidebar-nav">
                    <div class="nav-group-top"> 
                        <a href="#" class="nav-item">
                            <i class="fas fa-home"></i> 
                            <span></span>
                        </a>
                        <a href="#" class="nav-item">
                            <i class="fas fa-book"></i> 
                            <span></span>
                        </a>
                        <a href="#" class="nav-item">
                            <i class="fas fa-user-check"></i> 
                            <span></span>
                        </a>
                    </div>

                    <div class="nav-group-bottom-2"> 
                        <hr class="sidebar-divider-2">
                        <a href="#" class="nav-item-2">
                            <i class="fas fa-question-circle"></i> 
                        </a>
                        <a href="#" class="nav-item-2">
                            <i class="fas fa-cog"></i> 
                        </a>
                        <a href="#" class="nav-item-2 logout">
                            <i class="fas fa-sign-out-alt"></i> 
                        </a>
                    </div>
                </nav>
            </aside>
            
            <div class="content-wrapper">
                <div class="welcome-container">
                    <p class="greeting">Olá, Professor Henrique!</p>
                </div>

                <div class="info-cards-group">
                    <div class="info-card active-classes">
                        <h3>Turmas Ativas</h3>
                        <p class="data-value">5</p>
                    </div>
                    <div class="info-card pending-grades">
                        <h3>Pendência de Notas</h3>
                        <p class="data-value">2</p>
                    </div>
                    <div class="info-card next-class">
                        <h3>Próxima Aula</h3>
                        <p class="data-value">12h - Orientação a Objetos</p>
                    </div>
                </div>
                <aside class="action-aside">
                    <h2>O que deseja fazer?</h2>
                    <div class="action-buttons-group">
                        <button class="action-button planning" onclick="location.href='#'">
                            <i class="fas fa-book"></i> Planejamento
                            <span>Planos de Aula, Atividades, Materiais</span>
                        </button>
                        <button class="action-button management" onclick="location.href='#'">
                            <i class="fas fa-user-check"></i> Gestão
                            <span>Registro Ágil, Notas, Relatórios</span>
                        </button>
                    </div>
                </aside>
            </div>
            
        </div>

        <article>
            <h2>Resumo das Atividades Recentes</h2>
            <div class="recent-activities">
                <div class="activity-card">
                    <h3>Aula de Matemática</h3>
                    <p>Data: 10/09/2024</p>
                    <p>Status: Concluída</p>
                </div>
                <div class="activity-card">
                    <h3>Entrega de Notas - História</h3>
                    <p>Data: 12/09/2024</p>
                    <p>Status: Pendente</p>
                </div>
                <div class="activity-card">
                    <h3>Planejamento de Ciências</h3>
                    <p>Data: 15/09/2024</p>
                    <p>Status: Em Andamento</p>
                </div>
            </div>
        </article>
    </main>

    <script src="../static/js/inicio.js"></script>
</body>
</html>