<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>TeacherFlow | Login</title>
    <link rel="stylesheet" href="../static/css/login.css"> 
</head>
<body>
    <h2>Login</h2>

     <img src="../static/img/Logo.png.png" alt="">
    <form action="{{ url_for('login') }}" method="post"> 
        <label for="username">Nome:</label><br>
        <input type="text" id="username" name="username" required><br>
        
        <label for="password">Senha:</label><br>
        <input type="password" id="password" name="password" required><br><br>
        
        <input type="submit" value="Entrar">
    </form>
    
    <script src="../static/js/login.js"></script>
</body>
</html>