<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Entre ao TeacherFlow</title>
    <link rel="shortcut icon" href="../static/img/Logo.png.branco.png" type="image/x-icon">
    <link rel="stylesheet" href="../static/css/login.css">
</head>
<body>

<div class="wrapper">
    <div class="card active" id="card-login">
        <div class="logo-area">
            <img src="../static/img/Logo.png.png" class="logo">
        </div>
        <div class="header">
            <h2>Bem-vindo</h2>
            <p>Entre com sua conta para continuar</p>
        </div>

        <form action="/login" method="POST">
            {{ csrf_token() }}
            <label>Usuário</label>
            <input type="text" name="username" required>

            <label>Senha</label>
            <input type="password" name="password" required>

            <button class="btn" type="submit">Entrar</button>
        </form>

        <div class="switch">
            Não tem conta?
            <a id="swap-to-register">Cadastre-se</a>
        </div>
    </div>

    <!-- CARD CADASTRO -->
    <div class="card" id="card-register">
        <div class="header">
            <h2>Criar Conta</h2>
            <p>Preencha para começar sua jornada</p>
        </div>

        <form action="/register" method="POST">
            <label>Nome Completo</label>
            <input type="text" name="full_name" required>

            <label>Usuário</label>
            <input type="text" name="username" required>

            <label>Email</label>
            <input type="email" name="email" required>

            <label>Senha</label>
            <input type="password" name="password" required>

            <button class="btn" type="submit">Cadastrar</button>
        </form>

        <div class="switch">
            Já tem conta?
            <a id="swap-to-login">Entrar</a>
        </div>
    </div>

</div>

<script src="/static/js/login.js"></script>
</body>
</html>
